.container {
  width: 720px;
  height:900px;
  border:none ;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 15px;
  margin-left:400px;
}
.container_text_login_p {
  width: 100%;
  height: 120px;
  position: relative;
  top: 40px;
}

.container_text {
  width: 100%;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_text h1 {
  width: 197px;
  height: 87px;
  font-size: 64px;
  margin: 2px;
  padding: 2px;
}

.container_text_p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33px;
  font-size: 24px;
  color: #D3D3D3
}

.container_body_email_pass {
  width:720px;
  height: 354px;
  margin-top:100px;
}

.container_email_text {
  width: 592px;
  height: 97px;
 margin-left:70px
}

.container_email_text h2 {
  width: 84px;
  height: 33px;
  font-size: 24px;
}
.container_email_input{
  width: 572px;
  height: 48px;
  margin:2px;


}

.container_email_input input[type='text'] {
  width: 100%;
  height: 100%;
  position: relative;
  font-size:24px ;
  padding: 10px;
  outline: none;
  border: none;
  background-color:#D9DADF;
  border-radius: 10px;
}

.container_pass {
  width: 592px;
  height: 97px;
  margin-left:70px;
  margin-top:20px
}
.container_pass_text
{
  width: 84px;
  height: 33px;
  font-size: 24px;
}
.container_pass_input
{
  width: 592px;
  height: 48px;
  margin:2px;
  display: flex;
}
.container_pass_input input[type='password']
{
  width: 100%;
  height: 100%;
  position: relative;
  font-size:24px ;
  padding: 10px;
  padding-left: 80px;
  outline: none;
  border: none;
  border-radius: 10px;
  position: relative;
  background-color:#D9DADF;
  border-radius: 10px;
}

.container_pass_input img{
  height:69px;
  position: absolute;
}

.container_button_login {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_button_login button {
  width: 592px;
  height: 48px;
  border:none;
  border-radius: 10px;
  background-color: #3AAF83;
  font-size: 24px;
  color: #FFFFFF;
}

.container_polity {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container_polity a:link{
  width: 159px;
  height: 13px;
  font-size: 24px;
  text-decoration: none;
  color: #D2C7C7;
}

@media (max-width:1020px) {
  .container {
    width: 500px;
    height:900px;
    border:none ;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 15px;
  }

  .container_text_login_p {
    width:363.2px;
    height: 60.53px;
    position: relative;
    top: 40px;

  }

  .container_text {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_text h1 {
    width: 100px;
    height:44px;
    font-size: 30px;
    margin: 2px;
    padding: 2px;
  }

  .container_text_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container_text_p p{
    display: flex;
    justify-content: center;
    align-items: center;
    width:185px;
    font-size: 15px;
    color: #D3D3D3
  }




  .container_login {

    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    position: absolute;
  }
  .container_body_email_pass {
    width:100%;
    height: 281px;
    position: relative;

  }

  .container_email {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_email_text {
    width: 100%;
    height: 98px;
    margin:10px
  }

  .container_email_text h2{
    width: 49px;
    height: 19px;
    margin:10px;
    font-size: 18px;
  }

  .container_email_input {
    width: 327px;
    height: 37px;
    position: absolute;
  }
  .container_email_input input[type='text']
{
  width: 100%;
  height: 9px;
  font-size:14px ;
  position: relative;
}

.container_pass {
  width: 327px;
  height: 100px;
  position: relative;
  margin-left:1px;
}
.container_pass_input{
  width: 350px;
  height: 37px;
  position: absolute;
}

.container_pass_text{
  width: 49px;
  height: 19px;
  margin:10px;
}


.container_pass_text h2{
  width: 49px;
  height: 19px;
  margin:10px;
  font-size: 18px;
}


.container_pass_input input[type='password']
{
  width: 330px;
  height: 9px;
  position: absolute;
  font-size:14px ;
  padding: 10px;
  padding-left: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  position: relative;
  background-color:#D9DADF;
  border-radius: 10px;
  margin-left:10px
}
.container_pass_input img{
  height:30px;
  width: 37px;
  position: absolute;
  margin-left:10px
}

  .container_button_login{
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_button_login button {
    width: 327px;
    height: 37px;
  }
}


@media (max-width:430px) {
  .container {
    width: 363px;
    height: 656px;
    position: relative;
    margin-left:1px;
  }

  .container_text_login_p {
    width:363.2px;
    height: 60.53px;
    position: relative;
    top: 40px;

  }

  .container_text {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_text h1 {
    width: 100px;
    height:44px;
    font-size: 30px;
    margin: 2px;
    padding: 2px;
  }

  .container_text_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container_text_p p{
    display: flex;
    justify-content: center;
    align-items: center;
    width:185px;
    font-size: 15px;
    color: #D3D3D3
  }




  .container_login {

    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    position: absolute;
  }
  .container_body_email_pass {
    width:100%;
    height: 281px;
    position: relative;

  }

  .container_email {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_email_text {
    width: 100%;
    height: 98px;
    margin:10px
  }

  .container_email_text h2{
    width: 49px;
    height: 19px;
    margin:10px;
    font-size: 18px;
  }

  .container_email_input {
    width: 327px;
    height: 37px;
    position: absolute;
  }
  .container_email_input input[type='text']
{
  width: 100%;
  height: 9px;
  font-size:14px ;
  position: relative;
}

.container_pass {
  width: 327px;
  height: 100px;
  position: relative;
  margin-left:1px;
}
.container_pass_input{
  width: 350px;
  height: 37px;
  position: absolute;
}

.container_pass_text{
  width: 49px;
  height: 19px;
  margin:10px;
}


.container_pass_text h2{
  width: 49px;
  height: 19px;
  margin:10px;
  font-size: 18px;
}


.container_pass_input input[type='password']
{
  width: 330px;
  height: 9px;
  position: absolute;
  font-size:14px ;
  padding: 10px;
  padding-left: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  position: relative;
  background-color:#D9DADF;
  border-radius: 10px;
  margin-left:10px
}
.container_pass_input img{
  height:30px;
  width: 37px;
  position: absolute;
  margin-left:10px
}

  .container_button_login{
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_button_login button {
    width: 327px;
    height: 37px;
  }
}
